@import "../_var.scss";
html {
  color: #505050;
}

#overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: #666666;
  z-index: 99;
  #top-navbar {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    #title {
      font-size: 21px;
      display: flex;
      align-items: center;
    }
    .rhs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .material-icons{
        font-size: 32px;
        padding: 14px;
      }
    }
  }
}

#side-menu {
  padding-top: 52px;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  height: 100vh;
  background-color: white;
  font-size: 14px;
  >.row {
    transition: color 0.4s;
    padding-top: 8px;
    padding-bottom: 8px;
    >div {
      display:flex;
      align-items: center;
    }
  }

}


.submenu {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 999;
  font-size: 12px;
  border-bottom: rgba(0, 0, 0 , 0.1) 1px solid;
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  .item:first-child {
    margin-top: 16px;
  }
  .item:last-child {
    margin-bottom: 16px;
  }
  .item {
    position: relative;
    width: 240px;
    height: 40px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-collapse: collapse;
  }
}

#main-wrapper {
  padding-top: 60px;
  color: #666666;
  position: relative;
  z-index: 1;
  #content-wrapper {
    margin-top: 60px;
    .title {
      color: #3A99FC;
      border-left: #3A99FC 2.5px solid;
      margin-bottom: 20px;
      padding-top: 6px;
      padding-left: 20px;
      padding-bottom: 8px;
    }
  }
}

.btn-like {
  transition: color 0.4s;
  cursor: pointer;
}

.btn-like.p-color{
  transition: background-color 0.4s;
  color: #007bff;
}

.btn-like.p-color:hover{
  background-color: #007bff;
  color: white;
}

.btn-like:hover {
  color: #007bff;
}

a.btn-like {
  text-decoration: none;
  color: #505050;
}
a.btn-like:hover {
  text-decoration: none;
}

.dataTables_wrapper.dt-bootstrap4  {
  .dt-buttons.btn-group {
    .btn {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      //border: 4px transparent solid;
      color: #007bff;
      font-family: 'Roboto';
      border-collapse: collapse;
      padding-left: 16px;
      padding-right: 16px;
    }
    .btn.disabled {
      color: #CCCCCC;
    }
    .btn:hover:not(.disabled), .btn:active:not(.disabled){
      color: white;
      background-color: #007bff;
      //border-left: 4px #007bff solid;
    }
  }
  table {
    tr.selected {
      transition: background-color 0.4s;
      background-color: #3A99FC;
      td {
        border-color: #3A99FC;
      }
    }
  }
}