@import "../_var.scss";

#base-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  z-index: 99;
  color: #666666;
  background-color: white;

  #base-header {
    height: 60px;
    display: flex;
    align-items: center;
    .rhs .material-icons{
      font-size: 32px;
    }
  }
  #title {
    font-size: 21px;
  }
}

#side-menu {
  padding-top: 52px;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  z-index: 98;
  height: 100vh;
  background-color: white;
  font-size: 14px;
  color: #505050;
  >.row {
    transition: color 0.4s;
    padding-top: 8px;
    padding-bottom: 8px;
    >div {
      display:flex;
      align-items: center;
    }
  }
  >.row:hover {
    color: $p-color-1;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #505050;
  }
}

#main-wrapper {
  padding-top: 60px;
  color: #666666;
  #content-wrapper {
    margin-top: 60px
  }
}