{% extends 'base/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("build/base/data_table_test.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/base/data_table_test.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="rest-table" data-api-url="{{ path("api_admin_list_user") }}">

    </div>
{% endblock %}