.container {

  >.row{
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #login-wrapper {
    width: 300px;
    padding-bottom: 120px;
    #title {
      font-size: 24px;
      margin-bottom: 28px;
      padding-left: 16px;
      padding-bottom: 8px;
      border-left: #AAAAAA 4px solid;
    }
  }
}


form {
  .form-group {
    margin-bottom: 1.5rem;
    .form-control-label {
      color: #AAAAAA;
    }
    .form-control {
      border: 0;
      border-radius: 0;
      border-bottom: #868686 1px solid;
      outline: none;
    }
    .form-control:focus {
      border-bottom: #000000 1px solid;
      box-shadow: none;
    }
    .btn {
      border-radius: 0px;
    }
  }
}