{% extends 'component/view/base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="my-5">
        <h3 class="mb-5 text-secondary">{{ title }}</h3>
        {% include "component/view/entity_table.html.twig" %}
    </div>
{% endblock %}
