<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ template_helper.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("build/app.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include("/component/view/top_navbar.html.twig") %}
        {% if template_helper.getSideMenuStyle == "collapse" %}
            <div class="row">
                {% include("/component/view/side_menu_collapse.html.twig") %}
            </div>
        {% endif %}
        <div class="container" id="main-wrapper">
            <div class="row">
            {% if template_helper.getSideMenuStyle == "inline" %}
                <div class="col-3">
                    {% include("/component/view/side_menu_inline.html.twig") %}
                </div>
            {% endif %}
                <div class="col">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="js-notification-bar">
        </div>
        <div id="load-spinner" class="position-fixed fixed-bottom">
        </div>
        {% block modal %}{% endblock %}
        <script src="{{ asset("build/runtime.js") }}"></script>
        <script src="{{ asset("build/app.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
