<nav id="top-navbar" class="sticky-top">
    <div class="container h-100">
        <div class="row h-100">
            {% if template_helper.getSideMenu and template_helper.getSideMenuStyle == "collapse" %}
                <div class="col-auto">
                    <button class="top-navbar__menu-btn" type="button" data-toggle="collapse" data-target="#side-menu, #inline-side-menu" aria-controls="navbar-body" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="material-icons ml-2">
                            menu
                        </i>
                        <span class="ml-3 mr-2 d-none d-md-inline-block">
                            Menu
                        </span>
                    </button>
                </div>
            {% endif %}
            <div class="col">
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="col-auto top-navbar__login-btn" href="#" role="button" data-toggle="collapse" data-target="#top-navbar .collapse.show, #account-menu" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons mr-md-3">account_circle</i>
                    <span class="d-md-inline d-none">{{ app.user.fullName }}</span>
                </a>
            {% else %}
                <a href="{{ path("security_login") }}" class="col-auto top-navbar__login-btn">
                    <i class="material-icons mr-md-3">account_circle</i>
                    <span class="d-md-inline d-none">Welcome, Guest!</span>
                </a>
            {% endif %}
        </div>

    </div>
</nav>