<div class="container">
    <div class="row">
        <div class="col ml-5" id="title">
            {{ template_helper.title }}
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-auto rhs btn-like mr-5" data-submenu="#profile-menu">
                <i class="material-icons"  data-submenu="#profile-menu">account_circle</i>
                {{ app.user.fullName }}
            </div>
        {% else %}
            <a href="{{ path("login") }}" class="col-auto rhs btn-like mr-5">
                <i class="material-icons"  data-submenu="#profile-menu">account_circle</i>
                Welcome, Guest!
            </a>
        {% endif %}
    </div>
</div>