{% extends 'base/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="row">
        <h5 class="col title">
            {{ title }}
        </h5>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}
