{% extends 'component/view/base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa explicabo fugit minima quia!
        Accusamus aut consequuntur cumque cupiditate delectus, dolor doloribus, incidunt modi nisi quam quidem quo
        tenetur voluptatum.
    </p>
    <p>Asperiores aut, commodi, doloribus ea eos expedita fuga incidunt ipsa itaque magni, modi praesentium quae
        similique sunt ut! Ad adipisci commodi cupiditate dolores fuga libero molestiae perspiciatis quis quos totam!
    </p>
    <p>Alias aut commodi consectetur cum cupiditate deleniti deserunt distinctio dolor eaque exercitationem expedita
        explicabo fuga hic magnam modi nam nesciunt nihil obcaecati placeat, qui repellendus sunt, ullam vel vitae
        voluptatem.
    </p>
    <p>Accusamus aperiam corporis est facere illum ipsam iure labore magnam omnis praesentium, quae quaerat quidem
        reiciendis reprehenderit similique tempore tenetur. Alias cum, explicabo illo itaque minima quia temporibus
        totam veritatis.
    </p>
    <p>Adipisci autem cumque deleniti dolorem doloremque ducimus eaque eligendi eveniet fugiat illo ipsam ipsum
        laudantium natus numquam officiis omnis quia quos, repudiandae sed, ullam ut vero voluptatem voluptates! Natus,
        officiis.
    </p>
    <p>Consequatur consequuntur fugiat incidunt laborum libero nihil voluptatibus. Accusamus animi architecto
        assumenda cumque, delectus doloremque eius enim esse excepturi explicabo maiores neque nesciunt nihil nisi,
        possimus quibusdam sint vero! Debitis.
    </p>
    <p>Accusantium asperiores cumque, dolorem eius enim, error expedita explicabo, fugiat in incidunt ipsa modi
        nostrum optio pariatur perferendis quod sit totam veniam. Aliquid dolorem dolores ea iste magnam quibusdam quo!
    </p>
    <p>Accusantium autem blanditiis consectetur corporis dolorum ea illum impedit ipsam itaque labore libero minima
        natus necessitatibus neque, nobis officia officiis optio porro ratione reiciendis rerum sint sit tenetur,
        voluptatem voluptatum!
    </p>
    <p>Blanditiis inventore mollitia rerum. Accusantium ad animi beatae culpa cum dolorem eius enim esse laboriosam
        minus nam neque nihil officiis porro possimus quae quidem, sunt tenetur totam voluptatum? Dolores, omnis!
    </p>
    <p>Ad aliquid animi assumenda at, beatae corporis error facere facilis hic laborum magnam molestiae molestias
        natus necessitatibus nulla numquam officia pariatur perspiciatis praesentium ratione rem repellat sapiente sed
        tempora veniam!
    </p>
    <p>Accusantium deleniti dicta dignissimos distinctio eveniet excepturi ipsum laboriosam optio quam tempora vel,
        veniam voluptas voluptate. Doloremque eligendi enim explicabo, ipsum minima mollitia nobis quasi rem sint
        voluptas voluptate voluptatem.
    </p>
    <p>Dignissimos dolores iste labore minus molestias, neque nesciunt, nobis possimus quidem repudiandae saepe sed
        sunt ullam veritatis voluptatum? Architecto ducimus enim eos et explicabo, id mollitia obcaecati quos repellat
        voluptatem.
    </p>
    <p>Cum ipsum iste libero perferendis rerum. Ab adipisci alias atque doloribus error est expedita explicabo
        inventore laboriosam molestiae mollitia nam nulla obcaecati quas quasi quidem, repellendus sunt tempore
        temporibus voluptatem.
    </p>
    <p>Deleniti ducimus omnis pariatur sunt vel. Aliquam aut exercitationem fugiat? Aliquid animi dicta eius et fuga
        ipsum quis vero? Consectetur deserunt odio, officia placeat porro quia reiciendis similique ut voluptates?
    </p>
    <p>Culpa cumque, dolore eligendi eveniet iure laborum minus non perferendis placeat possimus quaerat quo
        recusandae, rerum tenetur voluptatem? A dolores eligendi ipsa itaque maxime numquam quam qui sequi voluptate
        voluptatem.
    </p>
    <p>Ducimus illo, quaerat? Aperiam at autem blanditiis commodi consequatur doloribus error est excepturi illum,
        impedit incidunt itaque labore, laboriosam obcaecati officiis quae quas qui quod repellat reprehenderit unde ut
        vel!
    </p>
    <p>Distinctio est labore perferendis praesentium quas quis ratione repellat saepe sequi soluta. Aliquid
        consequatur dicta ex expedita laboriosam magnam, minima nam numquam obcaecati officiis provident quibusdam
        recusandae reiciendis repellendus totam.
    </p>
    <p>Alias expedita, ipsa maxime minima neque nulla numquam pariatur, perspiciatis placeat porro quos, totam
        voluptates! Accusamus ad autem consequuntur cumque, dicta distinctio doloribus error esse, omnis provident
        quisquam, quos voluptas!
    </p>
    <p>Ab ad alias amet dolore doloribus eius eos exercitationem fugit ipsa molestiae, nemo possimus, quaerat quos
        recusandae reiciendis rem, vitae. Aperiam eum expedita explicabo harum laudantium molestias praesentium ratione
        sed.
    </p>
    <p>Ab architecto atque dolor fugit modi nesciunt nisi quod recusandae, rerum saepe tempora ullam, vitae. A ab
        aliquid amet asperiores consequuntur id in magni minus quae sunt. Ad, omnis, sit!
    </p>
{% endblock %}
