{% extends 'render/base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis dicta dolorum ea eaque fugit numquam
        odio quam quo repellendus, reprehenderit sequi unde ut! Laboriosam laborum modi molestias quia soluta.
    </p>
    <p>Assumenda culpa dignissimos eaque et harum, iste magnam natus nisi omnis pariatur praesentium, qui quis
        repudiandae velit voluptatum? Commodi iusto libero nobis suscipit ullam? Adipisci atque impedit minima.
        Accusamus, commodi!
    </p>
    <p>Aspernatur fugiat fugit impedit ipsum minima nostrum provident similique? Accusantium, commodi consequatur
        distinctio eaque eveniet fugit harum nesciunt obcaecati officiis quidem recusandae reiciendis reprehenderit
        sequi velit voluptas voluptate voluptatibus voluptatum?
    </p>
    <p>Consequuntur magni pariatur quam quasi tenetur voluptatum. Adipisci atque autem ea explicabo facere laboriosam
        laborum minima modi nam nisi numquam optio possimus, ratione voluptas voluptates. Amet ipsa magnam totam veniam.
    </p>
    <p>Ad beatae consequuntur cumque cupiditate error esse exercitationem harum id iure iusto molestias, natus, nemo
        non pariatur possimus quo quod, repudiandae similique soluta temporibus totam vel vitae! Laboriosam, nemo,
        officia?
    </p>
    <p>Deleniti labore mollitia obcaecati quos. Asperiores, aspernatur dolor ea eum facilis harum id in ipsum itaque
        labore libero magnam modi mollitia nesciunt nobis odit officia perspiciatis recusandae repudiandae sapiente
        totam!
    </p>
    <p>Ab ad architecto assumenda atque dolorem, maiores pariatur repellat repudiandae totam! Accusamus aut
        consequatur dicta ea eligendi esse fugit, in iure provident quibusdam quod repellat repudiandae rerum saepe
        suscipit, vero.
    </p>
    <p>Doloremque molestiae molestias nisi officia, perspiciatis quos! Dolores harum libero nihil quas, quia similique
        tempore ut vero! Ab eum eveniet laudantium minima quibusdam. Corporis, iure magni placeat quas quis vero.
    </p>
    <p>Aperiam aspernatur blanditiis consectetur cumque distinctio eaque et eum eveniet id impedit inventore iure
        iusto laborum, maiores minima nesciunt nihil nisi nostrum quaerat quam quasi quidem sed similique tempore
        voluptatum?
    </p>
    <p>Adipisci aliquid architecto beatae commodi corporis cupiditate delectus deserunt dolore dolorum ea eveniet
        incidunt ipsam iure nam nesciunt non pariatur provident quae quas quasi quidem quo quod ratione sed,
        voluptatibus!
    </p>
{% endblock %}
