@import "./custom.scss";

html {
    color: #505050;
}

#top-navbar {
    color: white;
    background-color: #03a9f4;
    height: 50px;
    .top-navbar__menu-btn {
        background-color: transparent;
        border: 0;
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.4s;
        cursor: pointer;
        border-bottom: 4px solid #C6E8F6;
    }
    .top-navbar__menu-btn:hover {
        background-color: white;
        color: #03a9f4;
        border-bottom: 4px solid white;
    }
    .top-navbar__login-btn {
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: $text-muted;
    }
    #navbar-header {
        font-size: 1.25rem;
    }
    .navbar-scroll {
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .submenu-border {
        border-width: 5px;
    }
}

.notification-bar {
    color: $light;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $zindex-fixed;
}

#side-menu {
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    height: 100vh;
    .menu-item {
        transition: color 0.4s;
        font-size: $h6-font-size;
        .icon-wrapper {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            .material-icons {
            }
        }
        .text-wrapper {
            display: flex;
            align-items: center;
        }
    }
}

#side-menu.collapsing {
    transition: none;
    display: none;
}

#inline-side-menu {
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    height: 100%;
    position: absolute;
    z-index: 2;
    @extend .bg-white;
    .menu-item {
        transition: color 0.4s;
        display: flex;
        font-size: $h6-font-size;
        .icon-wrapper {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            .material-icons {
            }
        }
        .text-wrapper {
            display: flex;
            align-items: center;
        }
    }
}

#inline-side-menu.collapsing {
    transition: none;
    display: none;
}


.submenu {
    position: fixed;
    right: 0;
    background-color: white;
    z-index: 999;
    font-size: 12px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    border-left: rgba(0, 0, 0, 0.1) 1px solid;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    .item:first-child {
        margin-top: 16px;
    }
    .item:last-child {
        margin-bottom: 16px;
    }
    .item {
        position: relative;
        width: 240px;
        height: 40px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        border-collapse: collapse;
    }
}

#main-wrapper {
    position: relative;
    z-index: 1;
    #content-wrapper {
        @extend .text-muted;
        .title {
            @extend .text-primary;
            border-left: #3A99FC 2.5px solid;
            @extend .mb-3;
            @extend .pl-3;
            @extend .py-1;
        }
    }
}

.hoverable {
    cursor: pointer;
}

.btn-rd {
    @extend .p-1;
    @extend .rounded-circle;
    width:  2.75rem;
    height: 2.75rem;
}

.btn-like-bar {
    display: flex;
    align-items: center;
    .btn-like:first-of-type {
        margin-left: -8px;
    }
    .btn-like:last-of-type {
        margin-right: -8px;
    }
}

.btn-like {
    @extend .px-3;
    height: 100%;
    transition: color 0.4s, background-color 0.4s;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-like.disabled {
    cursor: initial;
}

.btn-like.text-default:hover:not(.disabled), .btn-like.text-secondary:hover:not(.disabled) {
    color: $primary !important;
}

.btn-like.text-primary:hover:not(.disabled), .btn-like.text-danger:hover:not(.disabled)  {
    color: $secondary !important;
}

a.btn-like {
    text-decoration: none;
}

a.btn-like:hover {
    text-decoration: none;
}

a.no-decoration:hover {
    text-decoration: none;
}