$font-size-base: 0.9rem;

@import "~bootstrap/scss/bootstrap";
@import "var";

html {
  color: #505050;
}

#top-navbar {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}


#side-menu {
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  height: 100vh;
  .menu-item {
    transition: color 0.4s;
    display: flex;
    font-size: $h6-font-size;
    .icon-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      .material-icons {
      }
    }
    .text-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .menu-item:hover{
    color: $primary;
  }
}


.submenu {
  position: fixed;
  right: 0;
  background-color: white;
  z-index: 999;
  font-size: 12px;
  border-bottom: rgba(0, 0, 0 , 0.1) 1px solid;
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  .item:first-child {
    margin-top: 16px;
  }
  .item:last-child {
    margin-bottom: 16px;
  }
  .item {
    position: relative;
    width: 240px;
    height: 40px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-collapse: collapse;
  }
}

#main-wrapper {
  position: relative;
  z-index: 1;
  #content-wrapper {
    @extend .text-muted;
    .title {
      @extend .text-primary;
      border-left: #3A99FC 2.5px solid;
      @extend .mb-3;
      @extend .pl-3;
      @extend .py-1;
    }
  }
}

.btn-like {
  transition: color 0.4s, background-color 0.4s;
  cursor: pointer;
}

.btn-like:hover {
}

.btn-like.text-danger:hover {
  background-color: #AAAAAA;
}

.btn-like.text-primary:hover {
  background-color: #AAAAAA;
}

a.btn-like {
  text-decoration: none;
}
a.btn-like:hover {
  text-decoration: none;
}

.dataTables_wrapper.dt-bootstrap4  {
  .dt-buttons.btn-group {
    .btn {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      //border: 4px transparent solid;
      color: #007bff;
      font-family: 'Roboto';
      border-collapse: collapse;
      padding-left: 16px;
      padding-right: 16px;
    }
    .btn.disabled {
      color: #CCCCCC;
    }
    .btn:hover:not(.disabled), .btn:active:not(.disabled){
      color: white;
      background-color: #007bff;
      //border-left: 4px #007bff solid;
    }
  }
  table {
    tr.selected {
      transition: background-color 0.4s;
      background-color: #3A99FC;
      td {
        border-color: #3A99FC;
      }
    }
  }
}