@import "../_var.scss";

#gallery-container {
    .gallery-item-wrapper {
        @extend .col-xl-3;
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-12;
        .gallery-item {
            @extend .card;
            @extend .mb-3;
            .gallery-img-container {
                @extend .card-img-top;
                @extend .bg-dark;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                .gallery-img {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

            }
            .gallery-body {
                @extend .card-body;
                .gallery-header {
                    @extend .h5;
                    @extend .text-black-50;
                    @extend .text-monospace;
                }

            }
        }
    }
}